

main {
  padding: 10px;
  max-width: 1300px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  margin-top: 20px;
}

header a{
  text-decoration: none;
  color: inherit;
}

header a.logo {
  font-weight: bold;
}

header nav {
  display: flex;
  gap: 15px;
}

img {
  max-width: 100%;
}

div.post {
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;

}

div.articleText h2 {
  font-size: 1.8rem;
}

div.post p.info {

  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  gap: 5px;
}



div.post p.summary {
  line-height: 1.4rem;
}